body {
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 60vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 30px;
}



.nav-link{
    font-size: 20px;
    color:black;
}

.nav-link:hover{
    color:grey;
}

li{
    list-style-type: circle;
    font-size: 20px;
}

a{
    color:darkturquoise;
}

a:hover{
    color:black;
}