{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar">
                <h2 class="display-3">Wiki</h2>
                <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                    {{form.item}}
                </form>
                <div>
                    <a class="top nav-link" href="{% url 'index' %}">Home</a>
                </div>
                <div>
                    <a class="nav-link" href="{% url 'create' %}">Create New Page</a>
                </div>
                <div>
                    <a class="nav-link" href="{% url 'random' %}">Random Page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>